@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;500;800&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
}

:root {
    --blue: rgb(0, 195, 255);
}